<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <script type="module" src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/global.scss" />
    <!--  Get your <head> straight! https://www.youtube.com/watch?v=MHyAOZ45vnU -->
  </head>
  <body class="wrapper">
    <a href="#main-content" class="visible-hidden">Skip to main content</a>
 {% block content %}{% endblock %}
  </body>
</html>

